{
	"token": "your-bot-token-here",
	"clientId": "your-client-id-here",
	"guildId": "your-guild-id-here",
	"hedgedocUrl": "https://your-hedgedoc-instance.com/",
	"hedgedocEmail": "your-bot-email",
	"hedgedocPassword": "your-bot-password"
}